404: Not Foundvendor/
node_modules/
.ddev/
.DS_Store
web/sites/default/files/
web/themes/custom/cp/node_modules/
web/themes/custom/cp/build/
web/sites/default/settings.local.php
web/sites/default/*.local.php
*.log
.env
web/themes/custom/cp/mix-manifest.json
web/themes/custom/cp/components/**/*.css
web/themes/custom/cp/components/**/*.css.map
