// Brand colors
$color-primary: #a166ac;
$color-secondary: #6b4c72;
$color-dark: #1a1a1a;
$color-dark-soft: #888780;
$color-gray-soft: #eaeaea;
$color-light: #f0ede8;
$color-bg-time: #2a2a2a;

$color-bg: #{$color-dark};
$color-text: #{$color-light};
