// Brand colors
$color-primary: #a166ac;
$color-secondary: #6b4c72;
$color-dark: #1a1a1a;
$color-dark-soft: #2c2c2a;
$color-gray-soft: #eaeaea;
$color-light: #f0ede8;

$color-bg: #{$color-dark};
$color-text: #{$color-light};
