@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Momo+Signature&family=Story+Script&display=swap");

$font-base: "Outfit", sans-serif;
$font-script: "Momo Signature", cursive;

$font-size-base: 1rem;
$font-size-sm: 0.875rem;
$font-size-lg: 1.25rem;
$font-size-xl: 2rem;
$font-size-xxl: 4rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

body {
    font-family: $font-base;
    //color: $color-light;
    // background-color: $color-dark;
}

// Títulos
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-base;
    font-weight: $font-weight-medium;
    line-height: 1.2;
    letter-spacing: 0.05em;
    //color: $color-primary;
}

// Subtítulos — Momo Signature
.subtitle,
.cp-subtitle {
    font-family: $font-script;
    font-weight: $font-weight-light;
    line-height: 1.1;
    letter-spacing: 0;
    //color: $color-secondary;
}

// Tamanhos predefinidos
h1,
.cp-title--xl {
    font-size: $font-size-xl;
    max-width: 400px;
}
h2,
.cp-title--lg {
    font-size: $font-size-lg;
    max-width: 350px;
}
h3,
.cp-title--md {
    font-size: 1.1rem;
    max-width: 300px;
}

.cp-subtitle--xl {
    font-size: $font-size-xxl;
}
.cp-subtitle--lg {
    font-size: 3rem;
}
.cp-subtitle--md {
    font-size: $font-size-xl;
}
